
TVRemoteController/.vs/

TVRemoteController/TVRemoteController.sln

TVRemoteController/Debug/

TVRemoteController/TVRemoteController/Debug/

TVRemoteController/cmake-build-debug/CMakeFiles/

TVRemoteController/cmake-build-debug/CMakeCache.txt
